{% extends 'base.html' %}


{% block obsah %}

<h1>Formulář</h1>

<form action="" method="POST">
    <input type="text" name="q">
    <input type="password" name="p">
    <input type="submit" value="Odeslat">
</form>

<h1>Krtečkova hromádka hlíny</h1>

<p><img src="{{ url_for('static', filename='02458997.jpeg')}}" /></p>
    <h1>Flask <a href="{{ url_for('index') }}">Krteček se vloudil!</a></h1>
    <ul>
        <h2> Má tam předsíň.</h2>
        <h2> Má tam kuchyňku.</h2>
        <h2> Má tam ložnici s pelechem.</h2>
    </ul>
    

<p>{{ 2**128 }}</p>

<p>Ukázková  aplikace pro web framework 
  <a href="http://flask.pocoo.org/">Flask</a>. </p>

<p>Zdrojové kódy najdete na <a
  href="http://github.com/spseol/flask-start-onefile/">Githubu</a>.</p>


{% endblock obsah %}

